/* ----------------------- *
 * import google fonts
 * ----------------------- */
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ----------------------- *
 * jquery master settings
 * ----------------------- */
body{
    font-family: "Droid Serif", serif;
}
.demoHeaders {
    margin-top: 2em;
}
#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
select {
    width: 200px;
}

/* ----------------------- *
 * custom classes
 * ----------------------- */
h1 {
    font-size: 50px;
    text-shadow: 6px 5px 10px rgba(0,0,0,0.25);
    margin: -5px 0px;
    padding: 0px;
}

.panel {
    padding: 2px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.outerpanel {
    padding: 2px;
}
.innerpanel {
    padding: 20px;
    border-radius: 6px;
    max-width: 92%;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,0%);
}
.timeinputpanel {
    font-size: 120%;
}
.teacup_margin {
    width:100%;
    padding:3px 3px;
    background-color:#ffffff;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,0%);
}

#teacup_image {
    width:100%;
    background-color:#ffffff;
}

.verticalspacer {
    margin: 12px 0px;
}

.timerpanel {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

#time {
    margin-left: 80px;
}

.teatable {
    width:100%;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.teatable tbody tr td, th {
    line-height: normal;
    height: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 10px;
    background-color: inherit;
}

.teatable tbody tr td {
    cursor: pointer;
}

.teatable tr {
    background-color: #9c947c;
}

.teatable tr:nth-child(even) {
    background-color: #716a54;
}

.ui-accordion .ui-accordion-content {
    padding-left: 2%;
    padding-right: 2%;
}

.quick_label {
    border: 0px;
    padding: 7px 0px 7px 22px;
    width: 135px;
    margin-top: 3px;
    margin-bottom: 3px;
    float: left;
}

.button_quick, .button_quick:hover, .button_quick:active, .button_quick:focus {
    border: 0px;
    padding: 7px 15px 7px 15px;
    width: 148px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.button_black, .button_black:hover, .button_black:active, .button_black:focus {background: #802000; color: white;}
.button_green, .button_green:hover, .button_green:active, .button_green:focus {background: #6ad147; color: white;}
.button_yellow, .button_yellow:hover, .button_yellow:active, .button_yellow:focus {background: #f5df3d; color: black;}
.button_start, .button_start:hover, .button_start:active, .button_start:focus {
    padding: 12px 12px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
    float: right;
    margin: 0px;
    width: 80px;
}

#optionsgroup {
    margin: 6px 0px 6px 0px;
}
#optionsgroup .ui-controlgroup-horizontal {
    width: 100%;
    font-size: 15px;
}
#optionsgroup .ui-controlgroup-horizontal label{
    display: inline-block;
    width: 14%; /* NOTE this is half the parent's width minus margin/padding of buttons */
}
#optionsgroup .ui-controlgroup-horizontal legend{
    text-align: right;
    font-size: 15px;
    display: inline-block;
    margin: 12px 5px 0px 0px; /* NOTE vertical margin should be the same as jquery buttons */
    float:left;
    width: 40%;
}

.teanote {
    font-weight:normal;
    font-style:italic;
    font-size:80%;
    border-radius: 4px;
}

.teainstructions {
    font-weight:normal;
    font-size:80%;
    border-radius: 4px;
}

.teainstructions ul{
    margin-top: 8px;
    margin-bottom: 16px;
}

.teainstructions li{
    text-align: left;
    margin-left: 6%;
}

.teainstructions-header{
    background-color: #9c947c;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight:bold;
    font-size:110%;
}

.footer {
    background-color: white;
    color: black;
    font-size: 90%;
    font-weight: normal;
}

.footer a{
    text-decoration: none;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    width: 70px;
    margin: 0;
    padding: 5px 10px;
}

@media (min-width: 350px) {
  /* For small phones: */
    .button_start, .button_start:hover, .button_start:active, .button_start:focus {
        padding: 8px 12px;
        font-size: 18px;
        border-radius: 4px;
        width: 100px;
    }
    .timerpanel {
        font-size: 32px;
    }
    #time {
        margin-left: 100px;
    }
    .teatable {
        font-size: 14px;
    }
    #optionsgroup .ui-controlgroup-horizontal {
        font-size: 15px;
    }
    #optionsgroup .ui-controlgroup-horizontal label{
        width: 16%;
    }
    #optionsgroup .ui-controlgroup-horizontal legend{
        font-size: 16px;
        margin: 4px 7px 2px 0px;
    }
}

@media (min-width: 400px) {
  /* For phones: */
    .button_start, .button_start:hover, .button_start:active, .button_start:focus {
        padding: 12px 18px;
        font-size: 24px;
        border-radius: 4px;
        width: 100px;
    }
    .timerpanel {
        font-size: 48px;
    }
    #time {
        margin-left: 100px;
    }
    .teatable {
        font-size: 14px;
    }
    #optionsgroup .ui-controlgroup-horizontal {
        font-size: 16px;
    }  
    #optionsgroup .ui-controlgroup-horizontal label{
        width: 16%;
    }
    #optionsgroup .ui-controlgroup-horizontal legend{
        font-size: 16px;
        margin: 12px 7px 2px 0px;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .teacup_margin {
        width:580px;
        height:435px;
    }
    .innerpanel {
        max-width: 600px;
    } 
    #optionsgroup .ui-controlgroup-horizontal {
        font-size: 18px;
    }  
    #optionsgroup .ui-controlgroup-horizontal label{
        width: 18%;
    }
    #optionsgroup .ui-controlgroup-horizontal legend{
        font-size: 18px;
        margin: 12px 7px 2px 0px;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktops: */
    .teacup_margin {
        width:600px;
        height:450px;
    }
    .innerpanel {
        max-width: 600px;
    } 
    #optionsgroup .ui-controlgroup-horizontal {
        font-size: 18px;
    }  
    #optionsgroup .ui-controlgroup-horizontal label{
        width: 22%;
    }
    #optionsgroup .ui-controlgroup-horizontal legend{
        font-size: 18px;
        margin: 12px 7px 2px 0px;
    }
    .quick_label {
        padding: 7px 0px 7px 0px;
    }
}
